<section class="intro">
  <article>
    <picture>
      <source
        srcset="/assets/images/3-screen-computer-m.webp"
        media="(max-width: 48rem)"
        type="image/webp"
      />

      <source
        srcset="/assets/images/3-screen-computer-d.webp"
        media="(min-width: 48rem)"
        type="image/webp"
      />

      <img
        src="/assets/images/3-screen-computer-d.webp"
        class="intro__image"
        alt="Macbook with custom websites"
        loading="lazy"
      />
    </picture>
    <div class="intro__content">
      <h3 class="intro__title">Experience You Can Trust</h3>

      <div class="intro-lists">
        <ul>
          <li>
            <strong>Benefit from our extensive experience:</strong> Our founder has
            worked on websites for major corporations and is now committed to driving
            the growth of small businesses.
          </li>
          <li>
            <strong>Big-Agency Skills for Small Businesses:</strong> Elevate your
            business with big-agency skills, without the big-agency price tag.
          </li>
        </ul>
      </div>
      <div class="intro-lists">
        <h3 class="intro__title">Custom, High-Performance Websites</h3>
        <ul>
          <li>
            <strong>Unique designs:</strong> Our websites not only look stunning,
            but they also attract more customers and boost your revenue.
          </li>
          <li>
            <strong>Optimized for Success:</strong> Ensuring fast load times and
            a seamless user experience, helping you stand out from the competition.
          </li>
        </ul>
      </div>
      <div class="intro-lists intro-lists--last">
        <h3 class="intro__title">Personalized Attention & Solutions</h3>
        <ul>
          <li>
            <strong>Personalized Attention & Solutions:</strong> We know small businesses
            face challenges, and we’re here with personalized solutions to help you
            overcome them.
          </li>
          <li>
            <strong>Stay Ahead of the Competition:</strong> We offer optimization
            services that keep your business at the forefront of your industry.
          </li>
        </ul>
      </div>

      <!-- <h3 class="intro__title">Ready to Grow Your Business?</h3>

      <ul>
        <li>
          <strong class="list-title"
            >Contact us today for a free consultation</strong
          >
          <strong>Transform your online presence:</strong> Let’s work together to
          elevate your business and help you succeed online.
        </li>
      </ul> -->

      <!-- <p class="intro__description">
        At Westtown Websites, we bring over <strong
          >15 years of industry experience</strong
        > to the table. Although we're a new agency, our founder has spent a career
        working on websites for major corporations and is now dedicated to empowering
        small businesses.
      </p>

      <p></p>We specialize in crafting custom, high-performance websites that
      elevate your business and drive growth. We understand the unique
      challenges you face and are committed to delivering solutions that not
      only look great but also help you attract more customers, save time, and
      stay ahead of the competition. By combining big-agency experience with
      personalized attention, we provide top-notch web design, development, and
      optimization services tailored to your needs.
    </div>
    <p class="intro__description">
      We understand the unique challenges you face, and we're committed to
      delivering solutions that not only look great but also help you attract
      more customers, save time, and stay ahead of the competition. By combining
      big-agency experience with personalized attention, we provide top-notch
      web design, development, and optimization services tailored to your needs.
    </p> -->
    </div>
  </article>

  <style lang="scss">
    .intro__image {
      width: 100%;

      @media (min-width: 48rem) {
        position: absolute;
        left: -5%;
        z-index: 0;
        width: 50%;
        top: 20%;
      }

      @media (max-width: 47.99rem) {
        margin-top: 8rem;
        margin: 0 auto;
        transform: none !important;
      }
    }
    .introduction__quote {
      font-style: italic;
      margin: 1rem 0;
      padding-left: 1rem;
      border-left: 4px solid #ccc;
    }
    /* Introductory Section Styles */
    .intro {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--sectionPadding);
      background-color: var(--secondaryBgLight);
      z-index: 6;
      position: relative;

      @media (min-width: 48rem) {
      }
    }

    .intro-lists ul {
      margin: 0 0 2rem 0;
      list-style-type: none;

      @media (min-width: 48rem) {
        margin: 0 0 3rem 2rem;
      }
    }

    .intro-lists li {
      //  border-left: 1px solid var(--primary);
      padding: 0 0 0 0;
      color: var(--bodyTextColor);
    }

    .list-title {
      display: block;
      margin-bottom: 10px;
      font-size: 1.2rem;
      line-height: 1.5;
      color: var(--bodyTextColor);
      list-style-type: none;

      @media (min-width: 48rem) {
        font-size: 1.4rem;
      }
    }

    // .list-title:before {
    //   content: "\2022";
    //   margin-right: 0.6rem;
    // }

    .intro__content {
      max-width: 800px;
      text-align: center;
      position: relative;
      z-index: 6;

      li {
        font-size: 1rem;
        margin-bottom: 1rem;

        strong {
          color: var(--accent-coral);
        }
      }

      @media (min-width: 48rem) {
        text-align: left;

        li {
          font-size: 1.2rem;
        }
      }
    }

    .intro__title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      color: var(--headerColor);

      @media (min-width: 48rem) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    .intro article {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      gap: 2rem;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;

      @media (min-width: 48rem) {
        gap: 4rem;
        grid-template-columns: 1fr 1fr;
      }
    }

    .intro__description {
      font-size: 1.25rem;
      margin-bottom: 1rem;
      line-height: 1.6;
      color: var(--bodyTextColor);
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      gsap.registerPlugin(ScrollTrigger);

      gsap.from(".intro__content", {
        scrollTrigger: {
          trigger: ".intro__content",
          start: "top 80%",
          end: "bottom 60%",
          scrub: true,
          toggleActions: "play none none reverse",
        },
        y: 50,
        ease: "power3.out",
        opacity: 0,
      });

      // gsap.fromTo(
      //   ".intro__content",
      //   {
      //     opacity: 0,
      //   },
      //   {
      //     opacity: 1,
      //     duration: 1,
      //     scrollTrigger: {
      //       trigger: ".intro__content",
      //       start: "top 100%",
      //       end: "bottom 40%",
      //       scrub: true,
      //       toggleActions: "play none none reverse",
      //     },
      //   }
      // );

      // Animate .intro__image from left when scrolled into view
      gsap.from(".intro__image", {
        scrollTrigger: {
          trigger: ".intro__image",
          start: "top 80%",
          end: "bottom 20%",
          scrub: true,
          toggleActions: "play none none reverse",
        },
        x: -100,
        duration: 1.5,
        ease: "power3.out",
      });

      gsap.fromTo(
        ".intro__image",
        {
          opacity: 0,
        },
        {
          opacity: 1,
          duration: 1,
          scrollTrigger: {
            trigger: ".intro__image",
            start: "top 90%",
            end: "bottom 40%",
            scrub: true,
            toggleActions: "play none none reverse",
          },
        }
      );
    });
  </script>
</section>

<!-- <section class="service-container" aria-labelledby="services-heading">
  <h2 id="services-heading" class="visually-hidden">Our Services</h2>
  <article class="service-container__box" aria-labelledby="service1-title">
    <h3 id="service1-title" class="service-container__title">
      Over 15 Years of Industry Experience
    </h3>

    <p class="service-container__description">
      <strong>Big-Agency Skills for Small Businesses:</strong> Elevate your business
      with big-agency skills, without the big-agency price tag.
    </p>
  </article>
  <article class="service-container__box" aria-labelledby="service2-title">
    <h3 id="service2-title" class="service-container__title">
      Website Management & Maintenance
    </h3>
    <p class="service-container__description">
      Let us handle the technical details while you focus on your business.
    </p>
  </article>
  <article class="service-container__box" aria-labelledby="service3-title">
    <h3 id="service3-title" class="service-container__title">
      Accessibility & Compliance
    </h3>
    <p class="service-container__description">
      Ensure your website is accessible to all users and compliant with
      regulations.
    </p>
  </article>
  <article class="service-container__box" aria-labelledby="service4-title">
    <h3 id="service4-title" class="service-container__title">
      Search Engine & Performance Optimization
    </h3>
    <p class="service-container__description">
      Boost your online visibility and enhance user experience with our SEO and
      performance optimization services.
    </p>
  </article>
</section> -->

<style lang="scss">
  .service-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #2e2d42;
    width: 100%;
  }
  .service-container__box {
    background-color: #fff;
    color: #2e2d42;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  .service-container__title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .service-container__description {
    font-size: 1em;
  }
</style>
