.int-hero {
    display: none;
  }
  body {
    // background: #191011;
  }
  .arrowsvg {
    display: inline-block;
    vertical-align: top;
    fill: var(--bodyTextColor);
    transition: fill 0.2s;
    padding-top: 5px;
  }

  button.back-link {
    position: absolute;
    top: 100px;
    right: 2rem;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    

    @media (min-width: 64rem) {
      right: calc(50% - 18rem);
    }
  }
  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    :root {
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
      --bodyFontSize: 1rem;

      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }

    .cs-contact {
      font-family: "Roboto", "Arial", sans-serif;
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: calc(800 / 16 * 1rem);
        margin: 3rem auto;
      }

      .cs-content {
        width: 100%;
      }

      .cs-topper {
        text-align: left;
        /* 8px - 12px */
        margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
      }

      .cs-title {
        text-align: left;
        max-width: calc(800 / 16 * 1rem);
      }

      .cs-text {
        text-align: left;
        /* 404px - 522px */
        max-width: clamp(25.25rem, 30vw, 32.625rem);
        margin: 0 auto 0 0;
        /* 40px - 48px */
        margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
        display: block;
      }

      a.cs-text {
        cursor: pointer;
      }

      .cs-text.back-link {
        color: var(--bodyTextColor);
        display: flex;
        align-items: center;
        gap: 1rem;


        &:hover {
          color: var(--accent-teal);

          .arrowsvg {
            fill: var(--accent-teal);
          }
        }
      }

      .cs-form {
        
        margin: 0 auto calc(40 / 16 * 1rem);

        label {
          font-size: calc(16 / 16 * 1rem);
          font-weight: 700;
          line-height: 1.5em;
          /* 12px - 20px */

          color: var(--bodyTextColor);
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: center;
        //   align-items: flex-start;
        }

        .cs-label-message {
          /* 32px - 48px */
          margin-bottom: clamp(2rem, 6.3vw, 3rem);
        }

        input,
        textarea {
          font-size: calc(20 / 16 * 1rem);
          width: 100%;
          height: calc(48 / 16 * 1rem);
          margin-top: calc(4 / 16 * 1rem);
          box-sizing: border-box;
          border: none;
          border-bottom: 1px solid #b4b2c7;
          transition: border 0.3s;
          background-color: transparent;
          color: var(--bodyTextColor);
          outline: none;
          margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);

          &:hover {
            border-bottom: 3px solid var(--primary);
          }
        }

        input {
          margin-top: 0;
        }

        textarea {
          font-family: inherit;
          min-height: calc(120 / 16 * 1rem);
          padding-top: calc(20 / 16 * 1rem);
        }

        .cs-button-solid {
          width: 100px;
          border: none;
          background-color: var(--accent-coral);
          color: #fff;
          border-radius: 8px;
          padding: 1rem 1rem;
          border-radius: 16px;
          position: relative;
          height: auto;
          line-height: 1rem;
          margin-top: 2rem;
          font-size: 1.25rem;
        }
      }

      .cs-right-section {
        height: calc(320 / 16 * 1rem);
        /* 24px - 40px top & bottom */
        /* 20px - 40px left & right */
        padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
        border-radius: calc(8 / 16 * 1rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
      }

      .cs-header {
        /* 16px - 20px */
        font-size: clamp(1rem, 3vw, 1.25rem);
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: calc(8 / 16 * 1rem);
        color: var(--bodyTextColorWhite);
        display: block;
      }

      .cs-link {
        /* 16px - 20px */
        font-size: clamp(1rem, 3vw, 1.25rem);
        line-height: 1.2em;
        text-decoration: none;
        margin-bottom: calc(20 / 16 * 1rem);
        color: var(--bodyTextColorWhite);
        display: block;
        position: relative;

        &:before {
          /* Animated underline */
          content: "";
          width: 0%;
          height: 2px;
          background: var(--primary);
          opacity: 1;
          display: block;
          position: absolute;
          bottom: calc(-2 / 16 * 1rem);
          left: 0;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-block {
        display: block;
      }
    }
  }

  /* Tablet - 700px */
  @media only screen and (min-width: 43.75em) {
    .cs-contact {
      .cs-form {
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        // flex-wrap: wrap;

        label {
          width: 100%;
        }

        .cs-label-message {
          width: 100%;
        }
      }
    }

    :root {
      --bodyFontSize {
        font-size: 1.25rem;
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    .cs-contact {
      .cs-container {
        max-width: 80rem; // (1280 / 16)
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        gap: 5rem; // (80 / 16)
      }

      .cs-form {
        max-width: 39.375rem; // (630 / 16)

        label {
          width: 100%;
        }
      }

      .cs-right-section {
        width: 40%;
        max-width: 33.875rem; // (542 / 16)
        height: 42.875rem; // (686 / 16)
        flex: none;

        &:hover {
          .cs-bg-picture {
            transform: scale(1.1);
          }
        }
      }

      .cs-block {
        display: inline-block;
      }
    }
  }

  /* Small Desktop - 1300px */
  @media only screen and (min-width: 81.25em) {
    .cs-contact {
      .cs-form {
        column-gap: 0rem; // (0 / 16)

        label {
          //  width: 48%;
          //  max-width: 19.0625rem;  // (305 / 16)
        }

        .cs-label-message {
          max-width: 100%;
        }
      }

      .cs-right-section {
        height: 36.125rem; // (578 / 16)
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      .cs-contact {
        .cs-text,
        .cs-title {
          color: var(--bodyTextColorWhite);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-form {
          label,
          input,
          textarea {
            color: var(--bodyTextColorWhite);
            background-color: transparent;

            &::placeholder {
              /* lighten up the color of the text by 40%*/
              filter: brightness(1.4);
            }
          }
        }

        .cs-bg-picture {
          background-color: #000;

          img {
            /* lets parent background-color bleed through and darken it */
            opacity: 0.5;
          }
        }

        .arrowsvg {
          fill: #fff;
        }
      }
    }
  }

  .cs-contact-success {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    z-index: 6;
    border-radius: 2rem;
    color: var(--accent-coral);
    width: 70%;

    p {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    &.hide {
      display: none;
    }

    @media (min-width: 64rem) {
      padding: 5rem;

      p {
        font-size: 2rem;
      }
    }
  }

  .cs-form__fieldset {
    width: 100%;
    border: none;
  }

.cs-form-header {
    padding-bottom: 3rem;

    @media only screen and (min-width: 64em) {
  
        max-width: 39.375rem;
        margin: auto;
    }
}