<section class="pitch">
  <div class="pitch__container">
    <div class="stats">
      <ul class="stats__list">
        <li class="stats__item">
          <span class="stats__number">100%</span>
          <span class="stats__desc">Satisfaction Guaranteed</span>
        </li>
        <li class="stats__item">
          <span class="stats__number">90+</span>
          <span class="stats__desc">Google Page<br /> Speed Scores</span>
        </li>
      </ul>
      <picture class="pitch__picture">
        <img
          loading="lazy"
          alt="a screenshot showing perfect Google pagespeed scores"
          decoding="async"
          src="/assets/images/page-speed.webp"
          aria-hidden="true"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="pitch__content">
      <h2 class="pitch__title">
        We Build <span class="pitch__highlight">High-Performing Websites</span> That
        Attract More Customers
      </h2>
      <p class="pitch__text">
        A fast website is crucial to keeping visitors engaged. With every site
        we build, we achieve top Google PageSpeed scores, ensuring your website
        loads quickly and performs efficiently. Faster load times not only
        improve user experience but also increase customer retention, drive
        higher traffic, and ultimately lead to more conversions. Test your
        website with Google PageSpeed Insights and see where your current site
        stands—then let us help you unlock its full potential.
      </p>
      <h3 class="pitch__title">The benefits of a FAST website:</h3>
      <ul class="pitch__features">
        <li class="pitch__feature-item">
          <img
            loading="lazy"
            alt="icon"
            decoding="async"
            height="40"
            src="/assets/svgs/stat1.svg"
            width="40"
            class="pitch__icon"
          />
          Improves search engine visibility and reduces ad spend by increasing efficiency
        </li>
        <li class="pitch__feature-item">
          <img
            loading="lazy"
            alt="icon"
            decoding="async"
            height="40"
            src="/assets/svgs/stat2.svg"
            width="40"
            class="pitch__icon"
          />
          Rank higher in search results and make your advertising dollars go further
        </li>
        <li class="pitch__feature-item">
          <img
            loading="lazy"
            alt="icon"
            decoding="async"
            height="40"
            src="/assets/svgs/stat3.svg"
            width="40"
            class="pitch__icon"
          />
          Help attract more organic traffic and maximize your return on Google Ads
        </li>
        <li class="pitch__feature-item">
          <img
            loading="lazy"
            alt="icon"
            decoding="async"
            height="40"
            src="/assets/svgs/stat3.svg"
            width="40"
            class="pitch__icon"
          />
          Improve SEO performance and lower bounce rates, optimizing your ad campaigns
        </li>
        <li class="pitch__feature-item">
          <img
            loading="lazy"
            alt="icon"
            decoding="async"
            height="40"
            src="/assets/svgs/stat3.svg"
            width="40"
            class="pitch__icon"
          />
          Rank better on search engines and provide a smoother experience for visitors
          from Google Ads, leading to higher engagement
        </li>
      </ul>
      <a class="button button--solid button--secondary" href="/contact"
        >Get Started Today</a
      >
    </div>
  </div>
</section>

<style lang="scss">
  .pitch {
    background-color: var(--primary);
    overflow: hidden;
    padding: var(--sectionPadding);
  }

  .pitch__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 36.5rem;
    width: 100%;
    gap: clamp(3rem, 6vw, 4rem);
  }

  .stats {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 39.375rem;
    width: 100%;
    gap: clamp(2rem, 4vw, 3rem);
  }

  .stats__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0;
    margin: 0;
    row-gap: 1.5rem;
    column-gap: clamp(1.5rem, 4vw, 4.5vw);
    list-style: none;
  }

  .stats__item {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
  }

  .stats__number {
    font-family: var(--headerFont);
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-weight: 900;
    color: #fff;
  }

  .stats__desc {
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5;
    color: var(--bodyTextColorWhite);
    margin-top: 1rem;
  }

  .pitch__picture {
    border-radius: 1rem;
    height: 28.8125rem;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      display: block;
    }
  }

  .pitch__content {
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .pitch__topper,
  .pitch__title {
    color: var(--bodyTextColorWhite);
  }

  .pitch__title {
    margin-bottom: 2rem;
  }

  .pitch__highlight {
    color: #fff;
  }

  .pitch__text {
    opacity: 0.8;
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
  }

  .pitch__features {
    display: flex;
    flex-direction: column;
    row-gap: clamp(1.5rem, 4vw, 2rem);
    margin: 0 0 2rem 0;
    list-style: none;
    padding: 0;
  }

  .pitch__feature-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-weight: 700;
    color: var(--bodyTextColorWhite);
  }

  .pitch__icon {
    width: 2.5rem;
    height: auto;
  }

  .button {
    text-decoration: none;
  }

  .button--solid {
    background-color: var(--primary);
  }

  .button--secondary {
    background-color: var(--secondary);
  }

  /* Media Query for larger screens */
  @media only screen and (min-width: 48rem) {
    .pitch__container {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: stretch;
      max-width: 80rem;
    }
  }

  /* Dark mode specific */
  body.dark-mode .pitch {
    background-color: rgba(0, 0, 0, 0.6);
  }

  body.dark-mode .pitch__topper {
    color: var(--secondary);
  }

  body.dark-mode .pitch__icon {
    filter: grayscale(1) brightness(1000%) drop-shadow(1px 0px 5px #43b7ff);
  }

  body.dark-mode .pitch__item {
    background-color: rgba(67, 183, 255, 0.1);
  }
</style>
