---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="Custom Web Design & Growth Solutions in West Town, Chicago | Westtown Websites"
  description="Boost your business with web design services in West Town, Chicago. We offer performance-driven websites that grow with your business through affordable, monthly plans. Contact Westtown Websites for expert solutions."
>
  <section id="services-1329">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex-group">
          <h2 class="cs-title">Why Partner With Us?</h2>
        </div>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="" class="cs-link">
            <h3 class="cs-h3">Custom Growth Solutions</h3>
            <p class="cs-item-text">
              Every website is built to your business needs, designed to support
              long-term growth.
            </p>
          </a>
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/services/finance-laptop.png"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/services/finance-laptop.png"
            />
            <img
              decoding="async"
              src="/assets/images/services/finance-laptop.png"
              alt="finance"
              width="413"
              height="374"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <h3 class="cs-h3">Proven Expertise</h3>
            <p class="cs-item-text">
              I bring years of experience driving web performance improvements
              for global brands.
            </p>
          </a>
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png"
            />
            <source
              media="(min-width: 601px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png"
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png"
              alt="finance"
              width="413"
              height="374"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="cs-item">
          <a href="" class="cs-link">
            <h3 class="cs-h3">Scalable Services</h3>
            <p class="cs-item-text">
              We handle it all—from regular security updates to writing
              compelling blog content. Whether you need ongoing support for a
              new or existing site, we’ve got you covered.
            </p>
          </a>
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/about/flour.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/about/flour.webp"
            />
            <img
              decoding="async"
              src="/assets/images/about/flour.webp"
              alt="finance"
              width="413"
              height="374"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </section>

  <section class="features features--top">
    <div class="features__container features__container-text">
      <h2 class="features__heading" id="heading-expertise">
        Why Choose Westtown Websites?
      </h2>
      <p class="features__description" aria-describedby="heading-expertise">
        I understand that small businesses face unique challenges like limited
        resources, time constraints, and the pressure to stand out. That’s where
        we come in. Our websites aren’t just digital placeholders—they’re
        designed to be growth drivers that generate leads, improve visibility,
        and help your business shine in a crowded market.
      </p>
      <p class="features__description">
        <strong>Real Results, Proven Success</strong><br />
        Here’s what we’ve done for businesses like yours:<br />
        <ul>
          <li>
            <strong>Increased Conversions:</strong> We’ve boosted client sales by
            up to 35% by improving user experience and optimizing performance.
          </li>
          <li>
            <strong>Higher Search Rankings:</strong> With targeted SEO, we’ve moved
            clients from the 3rd page of search results to the top 5, increasing
            traffic and inquiries.
          </li>
          <li>
            <strong>Faster Load Times:</strong> We cut load times by over 50%, creating
            faster websites that drive better engagement and results.
          </li>
        </ul>
      </p>
      <p class="features__description">
        <strong>Your Success is Our Focus</strong><br />
        We’re committed to helping small businesses grow. With our personalized service,
        ongoing support, and hands-on collaboration, we ensure your website evolves
        with your business. When you work with Westtown Websites, you’re not just
        getting a site—you’re investing in your business’s future.
      </p>
    </div>
  </section>

  <section class="features">
    <div class="features__container">
      <div class="features__column features__column--text">
        <ul class="features__list features__list--type-2">
          <li class="features__list-item">
            <h3 class="features__list-title">A Network of Professionals</h3>
            <p class="features__list-description">
              We’re backed by a network of specialists in SEO, design, and
              development. This collaborative approach ensures your project
              benefits from the highest level of expertise, delivering
              comprehensive solutions that drive tangible results.
            </p>
          </li>

          <li class="features__list-item">
            <h3 class="features__list-title">
              Small Business Growth Through Web Design in West Town
            </h3>
            <p class="features__list-description">
              Many small businesses in West Town Chicago face a challenge: they
              need a high-performing website, but the upfront cost is often a
              barrier. I solve this by offering web design as a monthly service,
              allowing your website to grow with your business. Custom-built
              websites outperform templates, which are often outdated and lack
              the flexibility to support long-term growth. With my service, you
              gain a site that evolves, performs, and scales as your business
              expands.
            </p>
          </li>

          <li class="features__list-item">
            <h3 class="features__list-title">Focused on Innovation</h3>
            <p class="features__list-description">
              I stay at the forefront of web technologies, ensuring your site
              remains competitive. By focusing on speed, usability, and
              adaptability, I create websites that not only meet current needs
              but also position your business for future opportunities.
            </p>
          </li>

          <li class="features__list-item">
            <h3 class="features__list-title">Committed to Results</h3>
            <p class="features__list-description">
              Every project is driven by your business goals. From strategy to
              execution, I ensure that your website is built to deliver real,
              measurable results—whether that’s increasing traffic, improving
              conversions, or boosting overall site performance.
            </p>
          </li>
        </ul>
      </div>
      <div class="features__column features__column--image">
        <div class="features__image-frame">
          <img
            src="/assets/images/about/pexels-divinetechygirl-1181673.jpg"
            alt="Image showing web design work"
            class="features__image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                    Services                  -->
  <!-- ============================================ -->

  <CTA
    alt="Image of business growth"
    title="Let's Work Together!"
    description="Are you a small business owner looking to boost online sales and grow your brand? Let’s work together and build a stronger online presence that sets your small business apart."
    buttonText="Get an Estimate Now"
    buttonLink="/contact"
  />

  <style lang="scss">
    .features {
      padding: 3rem 0;

      @media (min-width: 48rem) {
      }
    }

    .features--top {
      background: var(--secondaryBgLight);
      margin-top: 2rem;

      @media (min-width: 48rem) {
        margin-top: 4rem;
      }
    }

    .features__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: var(--sectionPadding);
      margin: 0 auto;
      width: 100%;
    }

    @media (min-width: 1200px) {
      .features__container {
        max-width: 1280px;
      }
    }

    .features__container-text {
      max-width: 914px;
    }

    .features__column--text {
      width: 100%;
      margin-bottom: 80px;
    }

    @media (min-width: 1200px) {
      .features__column--text {
        width: 41.67%;
      }
    }

    .features__column--image {
      width: 100%;
      margin-bottom: 80px;
    }

    @media (min-width: 1200px) {
      .features__column--image {
        width: 50%;
      }
    }

    .features__heading {
      font-size: 2rem;
      margin-bottom: 2rem;

      @media (min-width: 3rem) {
        .features__column--image {
          width: 50%;
        }
      }
    }

    .features__description {
      margin-bottom: 60px;
    }

    .features__list {
      list-style: none;
      padding-left: 0;
    }

    .features__list--type-2 .features__list-item {
      position: relative;
      padding-left: 56px;
      margin-bottom: 30px;
      transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    }

    .features__list-title {
      margin-bottom: 0.8rem;
    }

    .features__list-description {
      font-size: 1rem;
    }

    .features__list--type-2 .features__list-item::after {
      content: "";
      background: var(--accent-coral)
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>')
        no-repeat center;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 12px;
      width: 30px;
      height: 30px;
      background-size: 70%;
    }

    .features__image-frame {
      position: relative;
      overflow: hidden;
      width: 100%;

      @media only screen and (min-width: 48rem) {
      }
    }

    .features__image {
      width: 100%;
    }

    @media only screen and (min-width: 0rem) {
      #services-1329 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
          width: 100%;
          max-width: calc(584 / 16 * 1rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
          gap: calc(16 / 16 * 1rem);
        }

        .cs-title {
          max-width: 20ch;
        }

        .cs-card-group {
          width: 100%;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          /* 16px - 20px */
          gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
          text-align: left;
          list-style: none;
          width: 100%;
          /* 300px - 380px */
          height: clamp(18.75rem, 50vw, 23.75rem);
          margin: 0;
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          padding: 0;
          background-color: #000;
          box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          grid-column: span 12;
          position: relative;
          z-index: 1;

          &:hover {
            .cs-picture {
              &::after {
                opacity: 1;
              }

              img {
                transform: scale(1.2);
              }
            }

            .cs-number {
              opacity: 1;
              top: clamp(1.25rem, 2.3vw, 2rem);
            }
          }
        }

        .cs-link {
          text-decoration: none;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          /* 20px - 32px */
          padding: clamp(1.25rem, 2.3vw, 2rem);
          /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          z-index: 1;

          &::after {
            /* hover overlay */
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
            transition: opacity 0.3s;
          }
        }

        .cs-number {
          /* 25px - 39px */
          font-size: clamp(1.5625rem, 2.7vw, 2.4375rem);
          font-weight: bold;
          color: var(--bodyTextColorWhite);
          opacity: 0;
          position: absolute;
          top: 0;
          transition:
            opacity 0.3s,
            top 0.3s;
        }

        .cs-h3 {
          /* 20px - 25px */
          font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
          line-height: 1.2em;
          font-weight: bold;
          text-align: inherit;
          margin: 0 0 calc(4 / 16 * 1rem) 0;
          color: var(--bodyTextColorWhite);
          transition: color 0.3s;
        }

        .cs-item-text {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          margin: 0;
          padding: 0;
          color: var(--bodyTextColorWhite);
          min-height: 76px;

          @media screen and (min-width: 48rem) {
            min-height: 76px;
          }
        }

        .cs-picture {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          overflow: hidden;

          &:before {
            /* background color overlay */
            content: "";
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(
              top,
              rgba(26, 26, 26, 0) 0%,
              rgba(0, 0, 0, 0.76) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
              top,
              rgba(26, 26, 26, 0) 0%,
              rgba(0, 0, 0, 0.76) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
              to bottom,
              rgba(26, 26, 26, 0) 0%,
              rgba(0, 0, 0, 0.76) 100%
            );
            opacity: 1;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }

          &:after {
            /* background color overlay on hover */
            content: "";
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(
              top,
              rgba(26, 26, 26, 0.4) 0%,
              rgba(0, 0, 0, 0.8) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
              top,
              rgba(26, 26, 26, 0.4) 0%,
              rgba(0, 0, 0, 0.8) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
              to bottom,
              rgba(26, 26, 26, 0.4) 0%,
              rgba(0, 0, 0, 0.8) 100%
            );
            opacity: 0;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: opacity 0.3s;
          }

          img {
            width: 100%;
            height: 100%;
            /* Makes img tag act as a background image */
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: transform 0.7s;
          }
        }
      }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
      #services-1329 {
        padding-bottom: 0;

        .cs-content {
          text-align: left;
          flex-direction: row;
          justify-content: space-between;
          gap: calc(40 / 16 * 1rem);
        }

        .cs-text {
          width: 50%;
        }

        .cs-title {
          margin: 0;
        }
      }
    }

    /* Desktop - 900px */
    @media only screen and (min-width: 56.25rem) {
      #services-1329 {
        .cs-container {
          max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
          height: calc(480 / 16 * 1rem);
          grid-column: span 4;
        }
      }
    }
  </style>
</BaseLayout>
